/* GLOBALS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
.appWrapper {
  overflow-y: hidden;
}
/* ANT DESIGN OVERWRITES */
/* LANDING */
.text-white {
  color: #fff;
}
.text-blue {
  color: #1d3953;
}
.text-teal {
  color: #6fcdb4;
}
.text-turquoise {
  color: #4ab2c0;
}
.text-gold {
  color: #fac818;
}
.text-red {
  color: #f06a6a;
}
.text-shadow-dark {
  text-shadow: 0 0.25rem 0.25rem rgba(29, 57, 83, 0.3);
}
.landing {
  min-height: 100vh;
  min-width: 100vw;
  background-color: transparent;
}
.landing-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 57, 83, 0.7);
  z-index: 2;
}
.landing-hero {
  position: relative;
  height: 85vh;
  width: 100%;
  padding: 1rem 2rem;
  z-index: 10;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.landing-line-1 {
  line-height: normal;
}
.landing-line-2 {
  line-height: 100%;
}
.landing-button {
  margin-top: 2rem;
  padding: 2rem 3rem;
  width: fit-content;
  background-color: #bbe7db;
  color: #1d3953;
  border-radius: 1rem;
  border-color: #bbe7db;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.5rem 0 #4a86c0;
  transition: 300ms ease-in-out;
}
.landing-button:hover {
  background-color: #bbe7db;
  color: #1d3953;
  border-radius: 1rem;
  border-color: #bbe7db;
  box-shadow: 0 1rem 0 #4a86c0;
}
.landing-button:active {
  background-color: #bbe7db;
  color: #1d3953;
  border-radius: 1rem;
  border-color: #bbe7db;
  box-shadow: 0 0.25rem 0 #4a86c0;
  transition: 100ms ease-in-out;
}
.landing-navbar {
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 15vh;
  z-index: 100;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.landing-navbar .nav-links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}
.logo {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo img {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  cursor: pointer;
}
.logo h1 {
  color: #fff;
  margin: 0 0 0 1rem;
  cursor: pointer;
}
video#video {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 0.8;
}
/* ABOUT US PAGE */
.about {
  width: 100vw;
  height: auto;
  background-color: #1d3953;
  overflow: visible;
  overflow-x: none;
}
.about-content {
  padding-top: 10vh;
}
.about-content .section1 {
  padding: 20% 15%;
  width: 100vw;
  height: auto;
  background-color: #1d3953;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-content .section1 h1 {
  color: #fff;
}
.about-content .section1 p {
  padding: 0 10%;
}
.about-content .section2 {
  width: 100vw;
  height: auto;
  background-color: #386c9f;
}
.about-content .section2-content {
  width: 100vw;
  height: auto;
  padding: 10% 5% 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-content .section2-content h1 {
  color: #fff;
}
.about-content .section2-content p {
  color: #fff;
}
.about-content .section2-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding-bottom: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.about-content .section2-image img {
  width: 10rem;
  height: auto;
  object-fit: cover;
  margin: 0 1rem;
  border: #fff solid 2px;
  border-radius: 50%;
}
.about-content .section2-image .friends {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-content .section2-image .friends h3,
.about-content .section2-image .friends p {
  color: #fff;
}
.about-content .section3 {
  width: 100vw;
  height: auto;
  background-color: #6f9fcd;
  padding: 10% 5%;
  display: flex;
  flex-direction: row;
}
.about-content .section3-content {
  width: 100%;
  height: 100%;
}
.about-content .section3-content h1,
.about-content .section3-content p {
  color: #fff;
}
.about-content .section3-image {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
}
.about-content .section3-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: #fff solid 2px;
}
.about-content .section4 {
  width: 100vw;
  height: auto;
  background-color: #bbd2e7;
  padding: 10% 5%;
  display: flex;
  flex-direction: row;
}
.about-content .section4-content {
  width: 100%;
  height: 100%;
}
.about-content .section4-content h1,
.about-content .section4-content p {
  color: #1d3953;
}
/* HOW IT WORKS PAGE */
.how-it-works {
  width: 100vw;
  height: auto;
  background-color: #1d3953;
  overflow: visible;
}
.how-it-works-content {
  padding-top: 10vh;
}
.how-it-works-content .section1 {
  padding: 20% 15%;
  width: 100vw;
  height: auto;
  background-color: #1d3953;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.how-it-works-content .section1 h1 {
  color: #fff;
}
.how-it-works-content .section1 p {
  padding: 0 10%;
}
.how-it-works-content .section2 {
  width: 100vw;
  height: auto;
  background-color: #386c9f;
  padding: 10% 20%;
}
.how-it-works-content .section2 .process {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.how-it-works-content .section2 .process-image {
  width: 15rem;
  height: auto;
  object-fit: cover;
  margin-right: 2rem;
}
.how-it-works-content .section2 .process-image img {
  width: 15rem;
  height: auto;
  object-fit: cover;
}
.how-it-works-content .section2 .process1,
.how-it-works-content .section2 .process2,
.how-it-works-content .section2 .process3 {
  margin-bottom: 4rem;
}
.how-it-works-content .section2 h2,
.how-it-works-content .section2 p {
  color: #fff;
}
/* RECORD OPTIONS */
.recordOptionsPage {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("/src/assets/images/speech-bubbles.svg");
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.recordOptionsPage-button {
  padding: 2rem 3rem;
  width: fit-content;
  max-width: 64vw;
  height: auto;
  color: #1d3953;
  border-radius: 1rem;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.recordOptionsPage-button-1 {
  background-color: #fdecaf;
  box-shadow: 0 0.5rem 0 #fac818;
  transition: 300ms ease-in-out;
}
.recordOptionsPage-button-1:hover {
  box-shadow: 0 1rem 0 #fac818;
}
.recordOptionsPage-button-1:active {
  box-shadow: 0 0.25rem 0 #fac818;
  transition: 100ms ease-in-out;
}
.recordOptionsPage-button-2 {
  background-color: #bbd2e7;
  box-shadow: 0 0.5rem 0 #386c9f;
  margin-top: 2rem;
  transition: 300ms ease-in-out;
}
.recordOptionsPage-button-2:hover {
  box-shadow: 0 1rem 0 #386c9f;
}
.recordOptionsPage-button-2:active {
  box-shadow: 0 0.25rem 0 #386c9f;
  transition: 100ms ease-in-out;
}
.recordOptionsPage-button:hover {
  cursor: pointer;
}
.button-icon-img {
  width: 10rem;
  height: auto;
}
.button-icon-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.button-text {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* ONE-MIN & TOPIC SELECTOR RECORD PAGE */
.oneMinRecordLayout {
  width: 100vw;
  height: 100vh;
}
.oneMinRecordLayout .recordLayoutHeader {
  background-color: #2a5278;
}
.oneMinRecordLayout .recordLayoutHeader .closeIcon {
  color: #fff;
}
.oneMinPage {
  background-color: #2a5278;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 2rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.oneMinPage .timer {
  flex: 1;
}
.oneMinPage .timer .clock {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  font-weight: bold;
}
.oneMinPage .timer .clock-icon {
  width: 2.25rem;
  height: auto;
  margin-right: 0.25rem;
}
.oneMinPage .question {
  flex: auto;
}
.oneMinPage .question h1 {
  color: #fff;
}
.oneMinPage .record {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.oneMinPage .tip {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 2rem;
}
.clock-digits {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: #fff;
}
.ButtonRecord {
  padding: 2rem;
}
.record-btn {
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  border: none;
  background-color: #e1ebf4;
  box-shadow: 0 0.5rem 0 0 #4a86c0;
  cursor: pointer;
  transition: 300ms ease-in-out;
}
.record-btn:hover {
  box-shadow: 0 0.75rem 0 0 #4a86c0;
}
.record-btn:active {
  box-shadow: 0 0.25rem 0 0 #4a86c0;
  transition: 100ms ease-in-out;
}
/* HISTORY PAGE */
.historyPage {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: auto;
  padding: 2rem 2rem 0 2rem;
}
ul.recordingsList {
  list-style: none;
  margin-top: 3rem;
}
li.recordingItem {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
li.recordingItem .recordingContent {
  display: flex;
  flex-direction: row;
}
li.recordingItem .recordingImage {
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
  position: relative;
}
li.recordingItem .recordingImage img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}
li.recordingItem .recordingInfo {
  width: 80vw;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.history-item-button {
  margin: 1rem 0 2rem 0;
}
.goalPage {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: auto;
  padding: 2rem 2rem 0 2rem;
}
ul.goalsList {
  list-style: none;
}
li.goalItem {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
li.goalItem .goalWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
li.goalItem .goalImage {
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
}
li.goalItem .goalImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
li.goalItem .goalContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
li.goalItem .goalLine {
  margin-top: 1rem;
}
li.goalItem .goalOptions {
  padding-right: 2rem;
  z-index: 10;
}
/* LEARN PAGE */
.learnPage {
  width: 100%;
  height: 97vh;
  overflow-y: auto;
  padding: 2rem;
}
/* LOADING PAGE */
.loading-page {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: none;
  background-color: #2a5278;
}
/* FINISHED PAGE */
.finishedPage {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
}
.finishedPage-button {
  padding: 1rem 2rem;
  width: fit-content;
  height: fit-content;
  color: #1d3953;
  border-radius: 1rem;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
}
.finishedPage-button-1 {
  background-color: #bbd2e7;
  box-shadow: 0 0.5rem 0 #386c9f;
  transition: 300ms ease-in-out;
  margin-right: 2rem;
}
.finishedPage-button-1:hover {
  box-shadow: 0 1rem 0 #386c9f;
}
.finishedPage-button-1:active {
  box-shadow: 0 0.25rem 0 #386c9f;
  transition: 100ms ease-in-out;
}
.finishedPage-button-2 {
  background-color: #bbe7db;
  box-shadow: 0 0.5rem 0 #6fcdb4;
  transition: 300ms ease-in-out;
}
.finishedPage-button-2:hover {
  box-shadow: 0 1rem 0 #6fcdb4;
}
.finishedPage-button-2:active {
  box-shadow: 0 0.25rem 0 #6fcdb4;
  transition: 100ms ease-in-out;
}
.finishedPage-button:hover {
  cursor: pointer;
}
.loadingResults {
  width: 100vw;
  height: 100vh;
  position: relative;
  padding-top: 2rem;
  background-image: url("/src/assets/images/finish-line.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
.loadingResults .question-prompt {
  margin-bottom: 2rem;
}
.finishedResults {
  color: #1d3953;
  padding: 2rem;
}
.finishedResults-title {
  margin-bottom: 2rem;
  color: #1d3953;
}
.finishedResults-textWrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #1d3953;
}
audio.finishedResults-audio {
  width: 100%;
  height: auto;
}
.select_dropdown {
  display: inline-block;
}
.redHighlight {
  color: #f06a6a;
  font-weight: 700;
}
.tealHighlight {
  color: #6fcdb4;
  font-weight: 700;
}
.goldHighlight {
  color: #fac818;
  font-weight: 700;
}
audio.audio {
  width: 100%;
  height: auto;
}
audio.audio-historyresults {
  margin: 2rem 0 2rem 0;
}
/* HISTORY RESULTS */
.historyResults {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: auto;
  padding: 2rem;
  background-color: #fff;
}
/* Home page */
.homePage {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: auto;
  padding: 2rem 2rem 0 2rem;
}
