/* GLOBALS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* ANT DESIGN OVERWRITES */
/* LANDING */
.text-white {
  color: #fff;
}
.text-blue {
  color: #1D3953;
}
.text-teal {
  color: #6FCDB4;
}
.text-turquoise {
  color: #4AB2C0;
}
.text-gold {
  color: #FAC818;
}
.text-red {
  color: #F06A6A;
}
.text-shadow-dark {
  text-shadow: 0 0.25rem 0.25rem rgba(29, 57, 83, 0.3);
}
.landing {
  min-height: 100vh;
  min-width: 100vw;
  background-color: transparent;
}
.landing-navbar {
  background-color: transparent;
  position: fixed;
  width: 100%;
  height: 15vh;
  z-index: 100;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.landing-navbar .nav-links {
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.landing-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 57, 83, 0.7);
  z-index: 2;
}
.landing-hero {
  position: relative;
  height: 85vh;
  width: 100%;
  padding: 1rem 2rem;
  z-index: 10;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.landing-line-1 {
  line-height: normal;
}
.landing-line-2 {
  line-height: 100%;
}
.landing-button {
  margin-top: 2rem;
  padding: 2rem 3rem;
  width: fit-content;
  background-color: #BBE7DB;
  color: #1D3953;
  border-radius: 1rem;
  border-color: #BBE7DB;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.landing-button:hover {
  background-color: #1D3953;
  border-color: #1D3953;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(29, 57, 83, 0.5);
}
.logo {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo img {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  cursor: pointer;
}
.logo h1 {
  color: #fff;
  margin: 0 0 0 1rem;
  cursor: pointer;
}
video#video {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 0.8;
}
